<!DOCTYPE html>
<html ng-app="nameMod">
<!--当指定ng-app之后，angular会自动创建一个$rootScope-->
<head>
    <meta charset="UTF-8">
    <title>学习angular。js</title>
</head>
<body ng-controller="nameCtrl">
姓名：<input type="text" ng-model="user.name"/>
年龄：<input type="text" ng-model="user.age"/>
<button ng-click="sub()">提交</button>
<button ng-click="clear()">清空</button>
</body>

<script src="angular.js"></script>
<script>
 
    angular.module('nameMod',[]);
    angular.module('nameMod').controller('nameCtrl',function($scope){
        $scope.user={};
        $scope.sub=function(){
            console.log($scope.user);
        };
        $scope.clear=function(){
            $scope.user={};
            //delete $scope.user;
        }
    })
    
</script>
</html>